
ul.a {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-size: cover;

  }
  #life{
    font-family: Georgia;
    padding : 0px 0px 0px 30px;
    font-size: 60px;
    height: 100px;
    background-size: cover;
    background-image: linear-gradient( rgb(19, 168, 168), rgb(0, 162, 255)); /* Standard syntax (must be last) */

  }
  
  #intro{
    font-family: Georgia;
    padding : 0px 20px 5px 30px;
    font-size: 25px;
    color: #333;


  }
  li.dev {
    float: left;
  }
  li.profile{
    font-size: 30px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
 #khan{
     margin-left: 30px;
     font-size :20px;
 }

#You{
      margin-top: 40px;
      margin-left: 30px;
      font-size: 35px;

  }
#s{
    font-size: 80px;
  }
  .flex-container {
    display: flex;
    flex-direction: column;

  }
 
  .flex-container #tec{
    width: 1000px;
    margin-left: 100px;
    margin-bottom: 80px;
    text-align: center;
    line-height: 75px;
    margin-top: 50px;
    font-size: 70px;
  }
  .flex-container #tec2{
    font-size: 21px;
    margin-left: 70px;
    width: 450px;
  }

  #jer{
      margin-left: 30%;
      margin-top: 40px;
  }

  
  /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    

    overflow-x: hidden; /* Disable horizontal scroll */
     margin-left: 1000px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
#p {
    font-size: 50px;
}
#ste{
  font-weight:500px;
  font-family: Georgia;
  margin-left: 180px;
  width: 22em; 
  word-wrap: break-word; 
  margin-top: 50px;

}
#i{
  font-weight:500px;
  font-family: Georgia;
  margin-left: 200px;
  font-size: 40px;
  width: 20em; 
  word-wrap: break-word; 
}
hr {
  height: 1px;
  color: #ed1d61;
  background: #ed1d61;
  font-size: 0;
  border: 0;
}
.roller
{
    width: 800px;
    height: 200px;
}
.roller img
{
    float: left;
    border-radius: 50%;
    width: 200px;
    height: 200px;   
    -webkit-transition: 1s Ease;
}
.roller:hover img
{
    -webkit-transform: translate(630px, 0px) rotate(360deg);
}